<div th:fragment="footerBottom" class="container-fluid p-0 border-bottom mw fixed-bottom">
    <div class="row bg-body-tertiary py-4 px-1 ">
        <div class="col mx-auto">
            <div class="row fs-0-6 text-center px-2">
                <div class="col-2 p-0 mx-auto px-2 ">
                    <a class="link-dcr-none text-secondary" href="#">카테고리</a>
                </div>
                <div class="col-2 p-0 mx-auto">
                    <a class="link-dcr-none text-secondary" href="#">검색</a>
                </div>
                <div class="col-2 p-0 mx-auto">
                    <a class="link-dcr-none text-secondary" href="/shop/mainPage">홈</a>
                </div>
                <div class="col-2 p-0 mx-auto">
                    <a class="link-dcr-none text-secondary" href="#">장바구니</a>
                </div>
                <div class="col-2 p-0 mx-auto">
                    <a class="link-dcr-none text-secondary" href="#">마이</a>
                </div>
            </div>
        </div>
    </div>
</div>