<div th:fragment="sidebar-left" class="col-2 p-0 border-end sidebar">
    <div class="row px-3">
        <div class="col">
            <div class="row">
                <a class=" col text-center py-2 link-dcr-none text-black" href="/seller/mainPage">
                    메인페이지
                </a>
            </div>
            <div class="row">
                <a class=" col text-center py-2 link-dcr-none" href="/seller/loginPage">
                    로그아웃
                </a>
            </div>
            <div class="row">
                <a class=" col text-center py-2 link-dcr-none text-black" href="/seller/registerProductPage">
                    상품등록
                </a>
            </div>
            <div class="row">
                <a class=" col text-center py-2 link-dcr-none text-black" href="/seller/updateDeleteProductPage">
                    상품관리
                </a>
            </div>
        </div>
    </div>
</div>