@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, 
                  system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", 
                 "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
    /* font-weight: 400 !important;
    font-style: normal; */
    overflow-y: scroll;
  }

.mw{
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* 사이드바 너비 설정 */
    height: 100%; /* 전체 높이 */
    background-color: #f8f9fa; /* 배경색 */
    padding: 15px; /* 내부 여백 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.nav-link {
    background-color: transparent !important; /* 기본 배경색 */
    color: black !important; /* 기본 텍스트 색상 */
}

.nav-link.active {
    background-color: gray  !important;/* 활성화된 버튼 배경색 */
    color: white !important; /* 활성화된 버튼 텍스트 색상 */
}

.nav-link:hover {
    background-color: white; /* 호버 시 배경색 */
    color: black; /* 호버 시 텍스트 색상 */
}

.over-b:hover{
    background-color: #0D6EFD; /* 호버 시 배경색 */
    color: white; /* 호버 시 텍스트 색상 */
}

.over-r:hover{
    background-color: red; /* 호버 시 배경색 */
    color: white !important; /* 호버 시 텍스트 색상 */
}

.over-g:hover{
    background-color: gray;
    color:white !important;
    transition: all 0.2s;
}

.bg-gray{
    background-color: gray;
}

.btn-cus1{
    --bs-btn-padding-y: .25rem; 
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .75rem;
    
}

.pd-img{
    margin: 0 2px 0 2px !important;
}

.topsize{
    height: 2.3em;
}
.ht-e-2{
    height: 1.6em;
}

.fs-14px{
    font-size: 14px;
}
.fs-13px{
    font-size: 13px;
    line-height: 18px;
}
.fs-12px{
    font-size: 12px;
}
.fs-11px{
    font-size: 11px;
}
.fs-10px{
    font-size: 10px;
}
.fs-0-5{
    font-size: 0.5em;
}
.fs-0-6{
    font-size: 0.6em;
}
.fs-0-7{
    font-size: 0.7em;
}
.fs-0-8{
    font-size: 0.8em;
}
.fs-0-9{
    font-size: 0.9em;
}
.fs-1-1{
    font-size: 1.1em;
}
.fs-1-2{
    font-size: 1.2em;
}
.fs-1-3{
    font-size: 1.3em;
}
.fs-1-4{
    font-size: 1.4em;
}
.fs-1-5{
    font-size: 1.5em;
}
.fs-1-6{
    font-size: 1.6em;
}

.fs-13px{
    font-size: 13px;
}

.aspect-ratio{
    aspect-ratio: 5 / 6;
}

.ar-11{
    aspect-ratio: 11 / 12;
}

.link-dcr-none {
    text-decoration: none; /* 밑줄 제거 */
}

.mrs-1{
    margin: 0 100px 0 0 !important;
}


.imgaa{
    width: 100%; /* 부모 요소의 너비에 맞춤 */
    max-width: 200px; /* 최대 너비 설정 */
    height: auto; /* 비율 유지 */
    max-height: 240px; /* 최대 높이 설정 */
    object-fit: cover; /* 비율을 유지하면서 잘리도록 설정 */
}

.test{
    max-width: 100%; /* 부모 요소의 너비에 맞춤 */
    width: 100%; /* 너비 100% 설정 */
    height: auto; /* 비율 유지 */
    position: absolute; /* 부모 요소에 대해 절대 위치 */
    top: 0; /* 상단 정렬 */
    left: 0; /* 왼쪽 정렬 */
    z-index: 0; /* 쌓임 순서 */
    object-fit: cover; /* 비율 유지하면서 영역을 채우도록 설정 */
    margin: auto; /* 중앙 정렬 */
    inset: 0; /* 모든 방향에서 0 간격 */
}

.max-w-5{
    min-width: 3em !important;
}

.of-x-h{
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    max-width: 600px;
    white-space: nowrap;
    cursor: pointer;
    transition: transform 0.1s ease-out;
}
.of-x-h::-webkit-scrollbar{
    display: none;
}
.of-x-h.grabbing {
    cursor: grabbing;
    transition: none; /* 드래그 중에는 애니메이션 비활성화 */
}

.category-container {
    display: flex; /* 버튼들이 가로로 배치되도록 설정 */
    /* gap: 10px; 버튼 사이 간격 */
    cursor: grab;
    transition: transform 0.1s ease-out; /* 부드러운 이동 */
}

.category-container.grabbing {
    cursor: grabbing;
    transition: none; /* 드래그 중에는 애니메이션 비활성화 */
}

.category-btn{
    background: white;
    border: 0;
    
}