<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.shoppingmall.consumer.mapper.ConsumerSqlMapper">
    <!-- 소비자 계정 생성 -->
    <insert id="createConsumer">
        <selectKey resultType="int" keyProperty="consumerNo" order="AFTER">
            SELECT  MAX(sc.consumer_no)
            FROM    sp_consumer sc
        </selectKey>
        INSERT INTO sp_consumer (consumer_id, password, nickname, gender)
        VALUES(#{consumerId},#{password},#{nickname},#{gender})
    </insert>

    <!-- 소비자 배송주소 -->
    <insert id="createConsumerAdress">
        INSERT INTO sp_consumer_adress (consumer_no, consumer_adress)
        VALUES(#{consumerNo}, #{consumerAdress});
    </insert>

    <!-- 소비자 로그인 아이디 비밀번호 확인 -->
    <select id="findByIdAndPassword" resultType="com.hr.shoppingmall.consumer.dto.ConsumerDto">
        SELECT 	(sc.consumer_no) AS consumerNo,
                (sc.consumer_id) AS consumerId,
                (sc.password) AS password,
                (sc.nickname) AS nickname,
                (sc.gender) AS gender,
                (sc.created_at) AS createAt
        FROM 	sp_consumer sc
        WHERE 	sc.consumer_id = #{consumerId}
        AND 	sc.password = #{password}
    </select>

    <!-- 고객 배송지 목록  -->
    <select id="adressFindByConsumerId" resultType="com.hr.shoppingmall.consumer.dto.ConsumerAdressDto">
        SELECT  (sca.adress_no) AS adressNo,
                (sca.consumer_no) AS consumerNo,
                (sca.consumer_adress) AS consumerAdress
        FROM    sp_consumer_adress sca
        WHERE   consumer_no = #{consumerNo}
    </select>

    <!-- 고객 배송지 목록 삭제 -->
    <delete id="deleteAdress">
        DELETE FROM sp_consumer_adress
        WHERE   adress_no = ${adressNo}
        AND     consumer_no = ${consumerNo}
    </delete>
</mapper>