<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.shoppingmall.consumer.mapper.ConsumerSqlMapper">
    <!-- 소비자 계정 생성 -->
    <insert id="createConsumer">
        <selectKey resultType="int" keyProperty="consumerNo" order="AFTER">
            SELECT  MAX(sc.consumer_no)
            FROM    sp_consumer sc
        </selectKey>
        INSERT INTO sp_consumer (consumer_id, password, nickname, gender, adress)
        VALUES(#{consumerId},#{password},#{nickname},#{gender}, #{adress})
    </insert>

    <!-- 소비자 배송주소 목록 추가 -->
    <insert id="createConsumerAdress">
        INSERT INTO sp_consumer_adress (consumer_no, consumer_adress)
        VALUES(#{consumerNo}, #{consumerAdress});
    </insert>

    <!-- 소비자 기본 배송지 수정 -->
    <update id="updateDefaulteAdress">
        UPDATE  sp_consumer 
        SET     adress = #{adress}
        WHERE   consumer_no = #{consumerNo}
    </update>

    <!-- 소비자 로그인 아이디 비밀번호 확인 -->
    <select id="findByIdAndPassword" resultType="com.hr.shoppingmall.consumer.dto.ConsumerDto">
        SELECT 	(sc.consumer_no) AS consumerNo,
                (sc.consumer_id) AS consumerId,
                (sc.password) AS password,
                (sc.nickname) AS nickname,
                (sc.gender) AS gender,
                (sc.created_at) AS createAt
        FROM 	sp_consumer sc
        WHERE 	sc.consumer_id = #{consumerId}
        AND 	sc.password = #{password}
    </select>

    <!-- 소비자 번호로 정보 조회 -->
    <select id="findByNo" resultType="com.hr.shoppingmall.consumer.dto.ConsumerDto">
        SELECT 	(sc.consumer_no) AS consumerNo,
                (sc.consumer_id) AS consumerId,
                (sc.password) AS password,
                (sc.nickname) AS nickname,
                (sc.gender) AS gender,
                (sc.adress) AS adress,
                (sc.created_at) AS createAt
        FROM 	sp_consumer sc
        WHERE 	sc.consumer_no = #{consumerNo}
    </select>

    <!-- 고객 기본 배송지 -->
    <select id="adressFindByconsumerNo" resultType="com.hr.shoppingmall.consumer.dto.ConsumerDto">
        SELECT 	(sc.consumer_no) AS consumerNo,
                (sc.consumer_id) AS consumerId,
                (sc.password) AS password,
                (sc.nickname) AS nickname,
                (sc.gender) AS gender,
                (sc.created_at) AS createAt
        FROM 	sp_consumer sc
        WHERE 	sc.consumer_no = #{consumerNo}
    </select>

    <!-- 고객 배송지 목록  -->
    <select id="adresslistFindByConsumerId" resultType="com.hr.shoppingmall.consumer.dto.ConsumerAdressDto">
        SELECT  (sca.adress_no) AS adressNo,
                (sca.consumer_no) AS consumerNo,
                (sca.consumer_adress) AS consumerAdress
        FROM    sp_consumer_adress sca
        WHERE   consumer_no = #{consumerNo}
    </select>


    <!-- 고객 배송지 목록 삭제 -->
    <delete id="deleteAdress">
        DELETE FROM sp_consumer_adress
        WHERE   adress_no = ${adressNo}
        AND     consumer_no = ${consumerNo}
    </delete>

    <!-- 배송지 목록 중 기본 배송지 변경 할 주소 가져오기 -->
    <select id="adressListFindByConsumerIdAndAdressNo" resultType="com.hr.shoppingmall.consumer.dto.ConsumerAdressDto">
        SELECT  (sca.adress_no) AS adressNo,
                (sca.consumer_no) AS consumerNo,
                (sca.consumer_adress) AS consumerAdress
        FROM    sp_consumer_adress sca
        WHERE   consumer_no = #{consumerNo}
        AND     adress_no = #{adressNo}
    </select>

    
</mapper>