<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.shoppingmall.shop.mapper.OptionSqlMapper">
    <!-- option SQL -->

    <!-- 옵션 생성 -->
    <insert id="createOption">
        <selectKey resultType="int" keyProperty="optionNo" order="AFTER">
            SELECT  MAX(spo.option_no)
            FROM    sp_product_option spo
            WHERE   spo.seller_no = #{sellerNo}
        </selectKey>
        INSERT INTO sp_product_option (seller_no, option_name)
        VALUES (#{sellerNo}, #{optionName})
    </insert>

    <!-- 옵션번호로 옵션가져오기 -->
    <select id="optionFindByOptinNo" resultType="com.hr.shoppingmall.shop.dto.OptionDto">
        SELECT  (spo.option_no) AS optionNo,
                (spo.option_name) AS optionName,
                (spo.seller_no) AS sellerNo,
                (spo.created_at) AS createdAt,
                (spo.updated_at) AS updatedAt
        FROM    sp_product_option spo
        WHERE   spo.option_no = #{optionNo}
    </select>



    <!-- optionDetail SQL -->

    <!-- 옵션 상세 정보 생성 -->
    <insert id="createOptionDetail">
        <selectKey resultType="int" keyProperty="optionDetailNo" order="AFTER">
            SELECT  MAX(spod.option_detail_no)
            FROM    sp_product_option_detail spod
            WHERE   spod.option_no = #{optionNo}
        </selectKey>
        INSERT INTO sp_product_option_detail (option_no, option_detail_name, total_quantity)
        VALUES (#{optionNo}, #{optionDetailName}, #{totalQuantity})
    </insert>

    <!-- 옵션 번호로 특정 옵션 상세 값 가져오기 -->
    <select id="optionDetailFindByOptionNo" resultType="com.hr.shoppingmall.shop.dto.OptionDetailDto">
        SELECT  (spod.option_detail_no) AS optionDetailNo,
                (spod.option_no) AS optionNo,
                (spod.option_detail_name) AS optionDetail,
                (spod.total_quantity) AS totalQuantity,
                (spod.price_adjustment) AS priceAdjustment,
                (spod.created_at) AS createdAt,
                (spod.updated_at) AS updatedAt
        FROM    sp_product_option_detail spod
        WHERE   spod.option_no = #{optionNo}
    </select>


    <!-- optionMapping SQL -->

    <!-- 옵션 매핑 생성 -->
    <insert id="createOptionMapping">
        INSERT INTO sp_product_option_mapping (product_no, option_no, option_detail_no)
        VALUES (#{productNo}, #{optionNo}, #{optionDetailNo})
    </insert>

    <!-- 상품 옵션 매핑 값 가져오기 -->
    <select id="optionMappingFindByProductNo" resultType="com.hr.shoppingmall.shop.dto.OptionMappingDto">
        SELECT  (spom.mapping_no) AS mappingNo,
                (spom.product_no) AS productNo,
                (spom.option_no) AS option_no,
                (spom.option_detail_no) AS optionDetailNo
        FROM    sp_product_option_mapping spom
        WHERE   spom.product_no = #{productNo}
    </select>
    
</mapper>