<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.shoppingmall.shop.mapper.PurchaseListSqlMapper">
    <!-- 상품구매 -->
    <insert id="createPurchase">
        <selectKey resultType="int" keyProperty="purchaseNo" order="AFTER">
            SELECT  MAX(spp.purchase_no)
            FROM    sp_product_purchase spp
        </selectKey>
        INSERT 
        INTO    sp_product_purchase (consumer_no,shopping_adress,state)
        VALUES  (#{consumerNo}, #{shoppingAdress}, 1)
    </insert>

    <!-- 상품 구매 리스트 -->
    <insert id="createPurchaseList">
        INSERT
        INTO    sp_product_purchase_list (purchase_no,product_no,quantity,payment_price)
        VALUES  (#{purchaseNo}, #{productNo}, #{quantity}, #{paymentPrice})
    </insert>

    


    <!-- 주문번호 기준 구매 상품 상세 정보 -->
    <select id="purchaseListFindByPurchaseNo" resultType="com.hr.shoppingmall.shop.dto.PurchaseListDto">
        SELECT  (sppl.purchase_list_no) AS purchaseListNo,
                (sppl.purchase_no) AS purchaseNo,
                (sppl.product_no) AS productNo,
                (sppl.quantity) AS quantity,
                (sppl.payment_price) AS price,
                (sppl.created_at) AS createdAt
        FROM    sp_product_purchase_list sppl
        WHERE   sppl.purchase_no = #{purchaseNo}
    </select>

    <!-- 고객 상품구매 목록 -->
    <select id="purchaseNoMaxFindByConsumerNo" resultType="int">
        SELECT 	MAX(spp.purchase_no)
        FROM 	sp_product_purchase spp 
        WHERE 	spp.consumer_no = #{consumerNo}
        AND     spp.state = 1
    </select>

     <!-- 고객 상품구매 목록 -->
    <select id="purchaseFindByConsumerNo" resultType="com.hr.shoppingmall.shop.dto.ShoppingPurchaseDto">
        SELECT 	(spp.purchase_no) AS purchaseNo,
                (spp.consumer_no) AS consumerNo,
                (spp.shopping_adress) AS shoppingAdress,
                (spp.purchase_date) AS purchaseDate,
                (spp.state) AS state
        FROM 	sp_product_purchase spp 
        WHERE 	spp.consumer_no = #{consumerNo}
    </select>

    <!-- 고객 상품 구매 상세 목록 -->
    <select id="purchaseFindByConsumerNoAndPurchaseNo" resultType="com.hr.shoppingmall.shop.dto.ShoppingPurchaseDto">
        SELECT 	(spp.purchase_no) AS purchaseNo,
                (spp.consumer_no) AS consumerNo,
                (spp.shopping_adress) AS shoppingAdress,
                (spp.purchase_date) AS purchaseDate,
                (spp.state) AS state
        FROM 	sp_product_purchase spp 
        WHERE 	spp.consumer_no = #{consumerNo}
        AND		spp.purchase_no = #{purchaseNo}
    </select>
</mapper>