<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/public/css/styles.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<script>
    function sendData() {
        let selectValues = []; // 선택된 값을 저장할 배열
    
         // select 요소를 모두 가져오기
        const selectElements = document.querySelectorAll('select[name^="optionDetailNo"]');
        const productNo = document.getElementById("productNo").value;
        const stock = document.getElementById("stock").value;
        
        // 각 select 요소에 대해 반복
        selectElements.forEach(function(selectElement) {
        // 선택된 옵션 가져오기
            let selectedOption = selectElement.options[selectElement.selectedIndex]?.value;

            // 선택된 값이 있으면 배열에 추가
            if (selectedOption) {
                selectValues.push(selectedOption);
            } 
        });
        
        // JSON 데이터 생성
        const requestData = {
            productNo: productNo, // 상품 번호
            stock: stock,         // 재고 수량
            optionDetailNo: selectValues // 선택된 옵션 번호들
        };
        
        // 결과 출력 (또는 AJAX로 전송)
        console.log(requestData);


        fetch('./registerOptionDetail', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData) // JSON 형태로 변환 후 전송
        })
        .then(response => response.text())
        .then(data => console.log("서버 응답:", data))
        
    }

</script>
<body>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{common/sidebar::sidebar-left}"></div>
            <div class="col-2"></div>
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col fs-1 py-3">
                                옵션 관리
                            </div>
                        </div>
                        <div class="row bg-secondary-subtle p-3">
                            <div class="col">
                                <div class="row pt-2 pb-4 bg-white">
                                    <div class="col-5 ms-3 mb-3">
                                        <div class="row py-2">
                                            <div class="col fs-0-9 fw-bold">옵션 등록</div>
                                        </div>
                                        <div class="row border rounded-2 px-2">
                                            <form action="./registerOptionList" method="post">
                                                <input type="hidden" id="productNo" name="productNo" th:value="${param.productNo}">
                                                <div class="col">
                                                    <div class="row pt-4 pb-2">
                                                        <div class="col-2 fs-0-9">옵션</div>
                                                        <div class="col">
                                                            <input class="form-control form-control-sm" name="optionName" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="row pb-2">
                                                        <div class="col-2 fs-0-9">옵션상세</div>
                                                        <div class="col">
                                                            <input class="form-control form-control-sm" name="optionDetailName" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="row pb-4">
                                                        <div class="col d-grid">
                                                            <input class="btn btn-sm btn-outline-primary" type="submit" value="등록">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="row">
                                            <div class="col ms-3">
                                                <div class="row py-2">
                                                    <div class="col fs-0-9 fw-bold">옵션 목록</div>
                                                </div>
                                                <div class="row border rounded-2 px-2">
                                                    <form action="./registerOptionDetail" method="post">
                                                        <input type="hidden" th:value="${productNo}" name="productNo">
                                                        <div class="col pt-4">
                                                            <div class="row pb-2" th:each="list, iterStat : ${optionList}">
                                                                <div class="col">
                                                                    <div class="row">
                                                                        <input type="hidden">
                                                                        <div class="col-2 fs-0-9 align-self-center" th:text="${list.optionDto.optionName}"></div>
                                                                        <div class="col">
                                                                            <select th:name="'optionDetailNo[' + ${iterStat.index} + ']'" class="form-select form-select-sm">
                                                                                <option th:value="${data.optionDetailNo}" th:each="data : ${list.detailDto}" th:text="${data.optionDetailName}"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-2 fs-0-9">
                                                                    수량
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" class="form-control form-control-sm" id="stock" name="stock">
                                                                </div>
                                                            </div>
                                                            <div class="row py-4">
                                                                <div class="col d-grid">
                                                                    <input type="button" onclick="sendData()" class="btn btn-outline-dark btn-sm" value="옵션상세등록">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>