<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품등록</title>
    <link rel="stylesheet" th:href="@{/public/css/styles.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{common/sidebar::sidebar-left}"></div>
            <div class="col-2"></div>
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col fs-1 py-3">
                                상품 관리                                
                            </div>
                        </div>
                        <div class="row bg-body-secondary p-3">
                            <div class="col bg-white rounded-3">
                                <div class="row py-2 pt-4">
                                    <div class="col">
                                        <input class="form-control form-control-sm" type="text" placeholder="상품검색">
                                    </div>
                                    <div class="col-2 d-grid">
                                        <input class="btn btn-sm btn-outline-dark" type="submit" value="검색">
                                    </div>
                                </div>
                                <div class="row py-2 fw-bold border-bottom border-black text-center">
                                    <div class="col text-start max-w-5">no</div>
                                    <div class="col-4">상품</div>
                                    <div class="col">가격</div>
                                    <div class="col">옵션수정</div>
                                    <div class="col">구매수량</div>
                                    <div class="col">재고수량</div>
                                    <div class="col">리뷰</div>
                                    <div class="col">문의</div>
                                    <div class="col">상품수정</div>
                                </div>
                                <div class="row" th:each="list,iterStat : ${productList}">
                                    <div class="col">
                                        <div class="row py-2 text-center border-bottom fs-0-9">
                                            <div class="col text-start max-w-5" th:text="${iterStat.index+1}"></div>
                                            <div class="col-4 text-start" th:text="${list.productDto.productName}"></div>
                                            <div class="col text-end" th:text="${list.price}+'원'"></div>
                                            <div class="col">
                                                <a class="link-dcr-none fw-bold border border-primary over-b px-2 py-1 rounded-2 fs-0-8" th:href="@{./optionEditPage(productNo=${list.productDto.productNo})}">옵션수정</a>
                                            </div>
                                            <div class="col" th:text="${list.productPurchaseCount}+'개'"></div>
                                            <div class="col" th:text="${list.productDto.totalQuantity}+'개'"></div>
                                            <div class="col">
                                                <a class="link-dcr-none text-black" th:href="@{./productReviewList(productNo=(${list.productDto.productNo}))}">
                                                    <i class="bi bi-star-fill text-warning"></i>
                                                    <span th:text="${list.reviewCount}"></span>
                                                </a>
                                            </div>
                                            <div class="col"><i class="bi bi-chat-left-dots"></i>1</div>
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col-auto mx-auto">
                                                        <a class="link-dcr-none fw-bold me-2 border border-primary over-b px-2 py-1 rounded-2 fs-0-8" th:href="@{./updateProductPage(productNo=${list.productDto.productNo})}">수정</a>
                                                        <a class="link-dcr-none text-danger fw-bold border border-danger over-r px-2 py-1 rounded-2 fs-0-8" th:href="@{./deleteProductProcess(productNo=${list.productDto.productNo})}">삭제</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>