<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품리스트</title>
    <link rel="stylesheet" th:href="@{/public/css/styles.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script>
        let consumerNo = null;

        window.addEventListener("DOMContentLoaded", async () =>{
            await sessionLoginCheck();
        })

        async function sessionLoginCheck(){
            const r = await fetch(`/api/consumer/getSessionConsumerInfo`);
            const response = await r.json();
            if(response.result == 'success'){
                consumerNo = response.data.consumerNo;
            }
            
        }

        function categoryClick(categoryNo,categoryMediumNo){
            fetch(`/api/shop/getProductsByCategory?categoryNo=${categoryNo}&categoryMediumNo=${categoryMediumNo}`)
            .then(r=>r.json())
            .then(response =>{
                console.log(response.data);
                const currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set('categoryNo', categoryNo); // categoryNo 변경
                currentUrl.searchParams.set('categoryMediumNo', categoryMediumNo);

                // URL을 변경하지만 페이지를 새로 고치지 않음
                window.history.pushState({}, '', currentUrl);
                categoryNoCheck(categoryNo);

                const productContainer = document.getElementById("productContainer");
                productContainer.innerHTML="";

                const categoryMediumContainer = document.getElementById("categoryMedium-container");
                
                categoryMediumContainer.innerHTML = "";
                
                if(categoryNo != 1){
                    const col = document.createElement("div")
                    col.className = "col-auto p-0"
                    // 카테고리 중분류
                    response.data.categoryMediumList.forEach(e => {
                        const cmButton = document.createElement('button');
                        cmButton.className = `medium${e.categoryMediumNo} category-btn text-dark pe-2`;
                        cmButton.setAttribute("onclick" , `categoryClick(${categoryNo},${e.categoryMediumNo})`)
                        const cmSpan = document.createElement('span');
                        if(e.categoryMediumNo == categoryMediumNo){
                            cmSpan.className = "fs-13px fw-bold";
                        }else{
                            cmSpan.className = "fs-13px";

                        }
                        cmSpan.innerText = e.categoryMediumName;
                        
                        cmButton.appendChild(cmSpan);
                        col.appendChild(cmButton);
                        categoryMediumContainer.append(col);
                    })
                    // categoryMediumContainer.classList.add('border-bottom');
                }else{
                    
                    // categoryMediumContainer.classList.remove('border-bottom');
                }


                // 제품 목록 생성
                response.data.categoryProductList.forEach(e => {
                    // 상품 리스트 최상단
                    const productElement = document.createElement('div');
                    productElement.className = "col-4 pb-4"

                    // 링크
                    const productDetailLink = document.createElement('a')
                    productDetailLink.className ="link-dcr-none text-dark";
                    productDetailLink.href = `./productDetailPage?productNo=${e.productDto.productNo}`;

                    // 이미지
                    const imageRow = document.createElement('div');
                    imageRow.className = "row";
                    const imageCol = document.createElement('div');
                    imageCol.className = "col p-0 position-relative";
                    const image = document.createElement('img');
                    image.src = `/uploadfiles/${e.productDto.mainImageUrl}`;
                    image.className = "img-fluid ar-11";
                    const heartSpan = document.createElement('span');
                    heartSpan.className = "position-absolute bottom-0 end-0 fs-0-8 me-2 mb-1";
                    const heartIcon = document.createElement('i');
                    heartIcon.setAttribute("onclick",`heartClick(${e.productDto.productNo},event)`);
                    
                    if(e.wishlistDto != null){
                        heartIcon.className = `wishProduct${e.productDto.productNo} bi bi-heart-fill text-danger`;

                    }else{
                        heartIcon.className = `wishProduct${e.productDto.productNo} bi bi-heart`;
                    }

                    heartSpan.appendChild(heartIcon);
                    imageCol.appendChild(image);
                    imageCol.appendChild(heartSpan);
                    imageRow.appendChild(imageCol);
                    productDetailLink.appendChild(imageRow);

                    // 스토어 이름
                    const shopNameRow = document.createElement('div');
                    shopNameRow.className = "row ps-2 pt-2";
                    const shopName = document.createElement('div');
                    shopName.className = "col fs-11px p-0 fw-bold"
                    shopName.innerText = e.sellerDto.shopName;

                    shopNameRow.appendChild(shopName);
                    productDetailLink.appendChild(shopNameRow);
                    

                    // 제품 이름
                    const productNameRow = document.createElement('div');
                    productNameRow.className = "row ps-2";
                    const productName = document.createElement('div');
                    productName.className = "col fs-13px p-0"
                    productName.innerText = e.productDto.productName;

                    productNameRow.appendChild(productName);
                    productDetailLink.appendChild(productNameRow);

                    // 제품 가격
                    const priceRow = document.createElement('div');
                    priceRow.className = "row ps-2";
                    const price = document.createElement('div');
                    price.className = "col fs-13px p-0 fw-bold"
                    price.innerText = e.price + "원";

                    priceRow.appendChild(price);
                    productDetailLink.appendChild(priceRow);

                    productElement.appendChild(productDetailLink);

                    // 찜, 리뷰 아이콘 row
                    const row = document.createElement("div");
                    row.className="row ps-2 mt-1";

                    // 찜
                    const wishCol = document.createElement("div");
                    wishCol.className = "col-auto p-0 fs-11px";
                    const wishIcon = document.createElement("i");
                    wishIcon.className="bi bi-heart-fill text-danger";
                    const wishCount = document.createElement("span");
                    wishCount.className = `wishListCount${e.productDto.productNo} ms-1`
                    wishCount.innerText = e.wishListCount;
                    
                    wishCol.appendChild(wishIcon);
                    wishCol.appendChild(wishCount);
                    
                    // 리뷰
                    const reviewCol = document.createElement("div");
                    reviewCol.className = "col-auto p-0 fs-11px ms-1";
                    const reviewIcon = document.createElement("i");
                    reviewIcon.className="bi bi-star-fill text-warning";
                    const reviewCount = document.createElement("span");
                    reviewCount.className ="pe-1 ms-1";
                    reviewCount.innerText = e.reviewCount;

                    reviewCol.appendChild(reviewIcon);
                    reviewCol.appendChild(reviewCount);

                    row.appendChild(wishCol);
                    row.appendChild(reviewCol);



                    
                    productElement.appendChild(row);
                    productContainer.appendChild(productElement);

                    
                })
                
            })
        }
        
        // 선택된 카테고리 fw-bold 주기
        function categoryNoCheck(categoryNo){
            const categoryList =  document.querySelectorAll(".categoryList");
            categoryList.forEach(e => {
                const dataCategoryNo = e.getAttribute('data-categoryNo');
                e.classList.remove("fw-bold");

                if(categoryNo == dataCategoryNo){
                    e.classList.add("fw-bold");
                }
                
            });
        }

        function categoryNoDetailList(){

        }

        // 찜 체크
        function heartClick(productNo, event){
            event.preventDefault();
            if(consumerNo == null){
                if(confirm("로그인 후 이용 가능합니다.\n로그인 페이지로 이동 하시겠습니까?")){
                    location.href = "/consumer/loginPage"
                }
                return;
            }

            fetch(`/api/shop/product/${productNo}/wishlist`)
            .then(r => r.json())
            .then(response => {
                const wishProduct = document.querySelector(".wishProduct"+productNo);
                const wishListCount = document.querySelector(".wishListCount"+productNo);

                if(response.data.isWishList == true){
                    wishProduct.classList.remove("bi-heart");
                    wishProduct.className = `wishProduct${productNo} bi bi-heart-fill text-danger`;
                    wishCount(productNo);
                }else{
                    wishProduct.classList.remove("bi-heart-fill");
                    wishProduct.className = `wishProduct${productNo} bi bi-heart`;
                    wishCount(productNo);
                }
            })
        }

        // 찜 개수
        function wishCount(productNo){
            fetch(`/api/shop/${productNo}/wishListCount`)
            .then(r => r.json())
            .then(response =>{
                const wishListCount = document.querySelector(".wishListCount"+productNo);
                wishListCount.innerText = response.data.wishListCount;

            })
            
        }
       

    </script>
</head>
<body>
    <div class="container-fluid mw">
        <!-- navbar start -->
        <nav>
            <div class="row">
                <div class="col">
                    <div th:replace="~{common/nav::topNavi}"></div>
                </div>
            </div>
        </nav>
        <!-- navbar end -->
        <div class="row topsize"></div>
        <!-- 카테고리 바 start -->
        <div class="row pt-3 ">
            <div class="col">
                <div class="row py-1 border-bottom">
                    <div class="col-auto p-0 fs-0-8 of-x-h" style="scroll-snap-type: none; scroll-behavior: auto;">
                        <div class="category-container ms-2">
                            <button class="category-btn text-dark pe-2" th:each="list : ${categoryList}" th:onclick="'categoryClick(' + ${list.categoryDto.categoryNo} + ',1)'">
                                <span class="categoryList fw-bold" 
                                        th:text="${list.categoryDto.categoryName}"
                                        th:attr="data-categoryNo=${list.categoryDto.categoryNo}" 
                                        th:if="${categoryDto.categoryNo == list.categoryDto.categoryNo}"></span>
                                <span class="categoryList" 
                                        th:text="${list.categoryDto.categoryName}"
                                        th:attr="data-categoryNo=${list.categoryDto.categoryNo}" 
                                        th:unless="${categoryDto.categoryNo == list.categoryDto.categoryNo}"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="categoryMedium-container" class="row py-1 p-0" th:if="${categoryNo == 1}">
                    <div class="col-auto p-0 of-x-h"></div>
                </div>
                <div id="categoryMedium-container" class="row py-1 p-0" th:unless="${categoryNo == 1}">
                    <div class="col-auto p-0 of-x-h ms-2">
                        <button th:class="'medium'+${list.categoryMediumNo}+' category-btn text-dark pe-2'" th:each="list : ${categoryMediumList}"
                        th:onclick="'categoryClick(' + ${categoryNo} + ',' + ${list.categoryMediumNo} + ')'">
                            <span th:if="${list.categoryMediumNo == categoryMediumNo}" class="fs-13px fw-bold" th:text="${list.categoryMediumName}">
                            </span>
                            <span th:unless="${list.categoryMediumNo == categoryMediumNo}" class="fs-13px" th:text="${list.categoryMediumName}">
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 카테고리 바 end  -->

        <!-- 상품 리스트 start -->
        <div class="row">
            <div class="col">
                <div class="row" id="productContainer">
                    <div class="col-4 pb-4" th:each="list : ${categoryProductList}">
                        <a class="link-dcr-none text-black" th:href="@{./productDetailPage(productNo=${list.productDto.productNo})}">
                            <div class="row">
                                <div class="col p-0 position-relative">
                                    <img class="img-fluid ar-11 pb-img" th:src="|/uploadfiles/${list.productDto.mainImageUrl}|" alt="">
                                    <span class="position-absolute bottom-0 end-0 fs-0-8 me-2 mb-1">
                                        <!-- <i th:if="${session.consumetInfo == null}" class="bi bi-heart"></i> -->
                                        <i th:class="'wishProduct'+${list.productDto.productNo}+' '+${session.consumerInfo == null ? 'bi bi-heart' : (list.wishlistDto != null ? 'bi bi-heart-fill text-danger' : 'bi bi-heart')}" 
                                            th:onclick="'heartClick(' + ${list.productDto.productNo} + ', event)'"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row ps-2 pt-2">
                                <div class="col fs-11px p-0 fw-bold shopName" th:text="${list.sellerDto.shopName}"></div>
                            </div>
                            <div class="row ps-2">
                                <div class="col fs-13px p-0 productName" th:text="${list.productDto.productName}"></div>
                            </div>
                            <div class="row ps-2">
                                <div class="col fs-0-8 p-0 fw-bold price" th:text="${list.price}+'원'"></div>
                            </div>
                        </a>
                        <div class="row ps-2 mt-1">
                            <div class="col-auto p-0 fs-11px">
                                <i class="bi bi-heart-fill text-danger"></i>
                                <span th:class="'wishListCount'+${list.productDto.productNo}" th:text="${list.wishListCount}"></span>
                            </div>
                            <div class="col-auto p-0 fs-11px ms-1">
                                <i class="bi bi-star-fill text-warning"></i>
                                <span class="reviewCount" th:text="${list.reviewCount}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 상품 리스트 end -->

        <!-- footer start -->
        <div class="row py-4"></div>
        <footer>
            <div class="row">
                <div class="col">
                    <div th:replace="~{common/footer::footerBottom}"></div>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>
    <script>
       const categoryContainer = document.querySelector('.category-container');

        let isMouseDown = false; // 마우스 클릭 상태 플래그
        let startX = 0;          // 클릭한 시작 X 좌표
        let currentX = 0;        // 컨테이너 이동 거리

        // 마우스 클릭 이벤트
        categoryContainer.addEventListener('mousedown', (e) => {
            isMouseDown = true; // 클릭 상태 활성화
            categoryContainer.classList.add('grabbing'); // 시각적 피드백
            startX = e.pageX - currentX; // 이동 거리 기준점 설정

            e.preventDefault();
        });

        // 마우스 이동 이벤트
        categoryContainer.addEventListener('mousemove', (e) => {
            if (!isMouseDown) return; // 클릭 중이 아니면 동작하지 않음
            const x = e.pageX; // 현재 마우스 X 좌표
            currentX = x - startX; // 컨테이너의 현재 위치 계산
            // 컨테이너 이동, 왼쪽과 오른쪽 경계를 제한
            if (currentX > 0) {
                currentX = 0; // 왼쪽 경계
            } else if (currentX < -categoryContainer.offsetWidth + categoryContainer.parentElement.offsetWidth) {
                currentX = -categoryContainer.offsetWidth + categoryContainer.parentElement.offsetWidth; // 오른쪽 경계
            }
            categoryContainer.style.transform = `translateX(${currentX}px)`; // 이동 적용
        });

        // 마우스 해제 이벤트
        categoryContainer.addEventListener('mouseup', () => {
            isMouseDown = false; // 클릭 상태 해제
            categoryContainer.classList.remove('grabbing'); // 시각적 피드백 제거
        });

        // 마우스가 컨테이너 밖으로 나갔을 때 상태 해제
        categoryContainer.addEventListener('mouseleave', () => {
            isMouseDown = false; // 클릭 상태 해제
            categoryContainer.classList.remove('grabbing'); // 시각적 피드백 제거
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>