<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역</title>
    <link rel="stylesheet" th:href="@{/public/css/styles.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container-fluid mw">
        <!-- navbar start -->
        <nav>
            <div class="row">
                <div class="col">
                    <div th:replace="~{common/nav::topNavi}"></div>
                </div>
            </div>
        </nav>
        <!-- navbar end -->
        <div class="row topsize"></div>
        <main class="row px-2">
            <div class="col">
                <div class="row pt-2">
                    <div class="col text-center fw-bold fs-4">
                        주문 내역 
                    </div>
                </div>
                <div th:if="${!purchaseList.isEmpty()}">
                    <div class="row py-2" th:each="list : ${purchaseList}">
                        <div class="col">
                            <div class="row" th:if="${list.purchaseDto != null}">
                                <div class="col-auto p-0 fs-0-9 fw-bold ms-1" th:text="${#dates.format(list.purchaseDto.purchaseDate,'yyyy-MM-dd')}"></div>
                                <div class="col-auto p-0 ms-auto me-1">
                                    <a class="text-secondary fs-0-8" th:href="@{./purchaseDetail(purchaseNo=${list.purchaseDto.purchaseNo})}">더보기</a>
                                </div>
                            </div>
                            <div class="row pt-2 pb-3 border-bottom">
                                <div class="col-auto">
                                    <img class="img-fluid border border-0 rounded-2" th:src="${list.productDto.mainImageUrl}" style="width: 5em;">
                                </div>
                                <div class="col me-auto align-self-center">
                                    <div class="row">
                                        <div class="col-auto fs-0-8 fw-bold align-self-center" th:text="${list.productDto.productName}"></div>
                                        <div class="col-auto p-0 ms-auto fs-0-6 fw-bold text-end">
                                            <span th:if="${list.purchaseDto.state == '1'}" class="border border-success-subtle rounded-5 text-success p-1">결제완료</span>
                                            <span th:if="${list.purchaseDto.state == '2'}" class="border border-success-subtle rounded-5 text-success p-1">배송준비중</span>
                                            <span th:if="${list.purchaseDto.state == '3'}" class="border border-primary-subtle rounded-5 text-primary p-1">배송중</span>
                                            <span th:if="${list.purchaseDto.state == '4'}" class="border border-primary-subtle rounded-5 text-primary p-1">배송완료</span>
                                            <span th:if="${list.purchaseDto.state == '5'}" class="border border-secondary-subtle rounded-5 text-secondary p-1">구매확정</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col fs-0-8 text-secondary" th:text="${list.purchaseDto.quantity}+'개'"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col fs-0-8 fw-bold" th:text="${list.totalPrice}+'원'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" th:unless="${!purchaseList.isEmpty()}">
                    <div class="col">
                        <span>주문내역이 없습니다.</span>
                    </div>
                </div>
            </div>
        </main>
        <div class="row pb-5 pt-3"></div>
        <!-- footer start -->
        <footer>
            <div class="row">
                <div class="col">
                    <div th:replace="~{common/footer::footerBottom}"></div>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>